body{
    background-color: black;
    color: #fff;
    margin: 0;
}


.cont1{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    /*
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    */

}

div header h1{
    text-align: center;
}

nav{
    background-color: #48e;

}

nav ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li{
    list-style: none;
}

.cont2{
    display: flex;
    gap: 30px;
    padding:25px;
    flex-direction: row;
    justify-content: center;

}


section{
    height: 450px;
    border: 1px solid;
    border-radius: 10px;
    width: 300px;
    width: 420px;
   

}
article{
    height: 450px;
    border: 1px solid;
    border-radius: 10px;
    width: 300px;
    width: 420px;
}
label{
    left: 0;
}
aside{
    border: 1px solid;
    border-radius: 10px;
    width: 500px;
}

.img-usuario{
    width: 200px;
    height: 200px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.div-login{
    text-align: center;
}
.div-register{
    text-align: center;
}

.btn-login{
    
    background-color: #48e;
    color: #fff;
    border-radius: 10px;
    border-color: #48e;
    font-size: 15px;
    height: 40px;
    width: 90px;
}

.btn-close{
    background-color: #fff;
    color: #48e;
    border-radius: 10px;
    border-color: #48e;
    font-size: 13px;
    height: 29px;
    width: 70px;
}

.modal1{
    width: 450px;
    border-radius: 20px;


}
.modal2{
    width: 400px;
    border-radius: 20px;
}



.modal1::backdrop{
    background-color: #0003;
}

.modal2::backdrop{
    background-color: #0003;
}

input[type="submit"]{
    transition: width 1s ease;
}
input[type="submit"]:hover{
    width: 120px;

}