body{
    background-color: black;
    margin: 0;
    background-color: #48e4;
}


.cont1{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    position: sticky;
    top: 0;
    /*
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    */
}

div header h1{
    text-align: center;
}

nav{
    background-color: #48e;

}

nav ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li{
    list-style: none;
}

.cont2{
    display: flex;
    gap: 30px;
    padding:25px;
    flex-direction: row;
    justify-content: center;

}

.section1{
    height: 480px;
    border: 5px solid #48e;
    border-radius: 10px;
    height: 200px;
    width: 420px;
    background-color: white;

    
    
}
.icons{
    width: 22px;
    height: 22px;
    fill: #fff;
}
section{
    
    height: 450px;
    border: 1px solid;
    border-radius: 10px;
    height: 300px;
    width: 420px;
    border: 5px solid #48e;
    background-color: white;

}
.flex-section1{
    display: flex;
    justify-content: center;
    margin-top: 45px;

}
@font-face {
    font-family: fuenteNueva;
    src: url("BebasNeue-Regular.ttf");
}

article{
    height: 450px;
    border: 5px solid #48e;
    border-radius: 10px;
    width: 300px;
    width: 420px;
    background-color: #fff;
    color: #48e;
    
}
label{
    left: 0;
}
aside{
    border: 1px solid ;
    border-radius: 10px;
    width: 500px;
    background-color: #48e;
    text-align: center;
}

.img-usuario{
    width: 200px;
    height: 200px;
}
.section{
    width: 100px;
    height: 100px;
}
h2{
    color: black;
    font-family: fuenteNueva;
}

#botonSalir{
    border: 2px solid black;
    text-align: center;
    background-color: #FF6961;
    color: white;
    padding: 6px;
    border-radius: 10px;
}


.h2-perfil{
    margin-left: 10px;
    padding: 0;
    margin: 0;
    font-family: fuenteNueva2 !important;

}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.div-login{
    text-align: center;
}
.div-register{
    text-align: center;
}
.div-porta{
    text-align: center;
}

.btn-login{
    
    background-color: #48e;
    color: #fff;
    border-radius: 10px;
    border-color: #48e;
    font-size: 15px;
    height: 40px;
    width: 90px;
}

.btn-close{
    background-color: #fff;
    color: #48e;
    border-radius: 10px;
    border-color: #48e;
    font-size: 13px;
    height: 29px;
    width: 70px;
}

.modal1{
    width: 450px;
    border-radius: 20px;


}
.modal2{
    width: 400px;
    border-radius: 20px;
}
.modal3{
    width: 400px;
    border-radius: 20px;
}



.modal1::backdrop{
    background-color: #0003;
}

.modal2::backdrop{
    background-color: #0003;
}
.modal3::backdrop{
    background-color: #0003;
}

input[type="submit"]{
    transition: width 1s ease;
}
input[type="submit"]:hover{
    width: 120px;

}

footer{
    background-color: white;
}
footer p{
    color: black;
}

/*Modificar el valor del div donde van a salir los proyectos*/
/*Clases de las cajas de proyecto*/
.P-1{
    padding: 10px;
    border-color: #000000;
    border: 5px solid ;
    border-radius: 15px;
    width: 400px;
    margin-left: 35px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    
    
    
}
/*Contenedor de las cajas*/
#P-1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    
}